@tailwind base;
@tailwind components;
@tailwind utilities;


body {
        font-family: "Poppins", sans-serif !important;
        font-optical-sizing: auto;


}

.w-inherit {
        width: inherit;
}

.h-inherit {
        height: inherit;
}

.no-scrollbar::-webkit-scrollbar {
        display: none;
}

.no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
}
progress {
        background-color: #fff8eb;
        color: #ff9b24;
        
    }
    progress::-webkit-progress-value {
        background-color: #ff9b24;
    }
    progress::-moz-progress-bar {
        background-color: #ff9b24;
    }
.aspect-ratio{
        aspect-ratio: 5/4;
}



/* css for loader */
.custom-loader {
        width: 50px;
        height: 50px;
        display: grid;
        border:4px solid #0000;
        border-radius: 50%;
        border-color:#ff9b24 #0000;
        animation: s6 1s infinite linear;
      }
      .custom-loader::before,
      .custom-loader::after {    
        content:"";
        grid-area: 1/1;
        margin:2px;
        border:inherit;
        border-radius: 50%;
      }
      .custom-loader::before {
        border-color:#0FC0B3 #0000;
        animation:inherit; 
        animation-duration: .5s;
        animation-direction: reverse;
      }
      .custom-loader::after {
        margin:8px;
      }
      
      @keyframes s6 { 
        100%{transform: rotate(1turn)}
      }